@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
     font-family: 'Inter', sans-serif;
    background: var(--background);
    padding-top: 0;
    min-height: 100vh;
    color: var(--black);
}

body.user-active {
    padding-top: 75px;
}

h1 {
    font-size: 23px;
    font-weight: bold;
}

main {
    width: 100%;
    display: none;
}

main.Active {
    display: flex;
}
.show-home {
    display: flex;
}

.hide-home {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
    border: 1px solid transparent;
    background-clip: padding-box;
}
textarea::placeholder {
    font-size: 14px;
}
textarea {
    min-height: 100px;
    max-height: 250px;
    resize: vertical;
}
html {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
}

html {
    scroll-behavior: smooth;
}