body {
    font-family: sans-serif;
    background: var(--background);
    padding-top: 0;
    min-height: 100ch;
    color: var(--black);
}

body.user-active {
    padding-top: 85px;
}

h1 {
    font-size: 23px;
    font-weight: bold;
}

main {
    width: 100%;
    display: none;
}

main.Active {
    display: flex;
}