.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.footer span {
    color: var(--bs-primary);
}
.footer p{
    font-size: 13.5px;
}