.tripsDashboard {
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    padding-top: 35px;
}

.tripsDashboard header p {
    font-size: 13px;
    max-width: 300px;
    margin-left: 8px;
    color: var(--text-gray);
}