.tripsDashboard {
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.tripsDashboard header h1{
    font-size: 28px;    
}
.tripsDashboard header p{
    font-size: 14px;
    max-width: 350px;
    color: var(--text-gray);
}