.tripsDashboard {
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 20px;
    padding-top: 35px;
}

.tripsDashboard header p {
    font-size: 13px;
    max-width: 300px;
    margin-left: 8px;
    color: var(--text-gray);
}
.cardsTrips{
    display: grid;
    grid-template-columns: repeat(2,1);
    gap: 10px;
    place-items: center;
}
.cardsTrips .card{
    background-color: var(--white);
    width: 100%;
    padding: 15px;
    max-width: 250px;
    border-radius: 10px;
    border: 1px solid var(--border-black);
    display: flex;
    flex-direction: column;
}
.cardsTrips .card h2{
    font-size: 14px;
    color: var(--text-gray);
}